.loader-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $color-backgrounds;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 0.5s 2s forwards;
}

@keyframes loader {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.lettre {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 8px;
    color: #9356DC;
    animation: letter 2s infinite;

}


@keyframes letter {
    from {
        color: #9356DC;
        transform: translate(0px);
    }

    to {
        color: #FF79DA;
        transform: translateY(-30px);

    }
}

.loader-container .lettre:nth-child(1) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 0.2s;
}

.loader-container .lettre:nth-child(2) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 0.4s;
}

.loader-container .lettre:nth-child(3) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 0.6s;
}

.loader-container .lettre:nth-child(4) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 0.8s;
}

.loader-container .lettre:nth-child(5) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 1.0s;
}

.loader-container .lettre:nth-child(6) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 1.2s;
}

.loader-container .lettre:nth-child(7) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 1.4s;
}

.loader-container .lettre:nth-child(8) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 1.6s;
}

.loader-container .lettre:nth-child(9) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 1.8s;
}

.loader-container .lettre:nth-child(10) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}



/************ page restaurant chargement ****************/

@keyframes progress-page {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#main-resto .view:nth-child(2) {
    animation: progress-page 0s linear;
    animation-delay: 0.2s;
}

#main-resto .view:nth-child(3) {
    animation: progress-page 0s linear;
    animation-delay: 0.4s;
}

#main-resto .view:nth-child(4) {
    animation: progress-page 0s linear;
    animation-delay: 0.6s;
}


/*********** coeur ****************/

.heart input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 0;
}



.heart .fa-solid {
    font-weight: 200;

    &:active {
        font-weight: 900;
        background-clip: text;
        background-image: linear-gradient(#9356DC, #FF79DA);
        color: transparent;
    }
}

@keyframes fillheart {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.heart input[type="checkbox"]:checked+label .fa-heart {

    font-weight: 900;
    background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
    color: transparent;
    animation: fillheart 1s ease;
}


/******************** Ajout plats commande **************/

// .view article {
//     position: relative;
//     overflow: hidden;
// }


// .view input[type="checkbox" i] {
//     position: relative;
//     width: 0;
//     height: 0;
//     opacity: 0;
// }

// .view label{
//     cursor: pointer;
// }

// .view article .progress {
//     position: absolute;
//     right: -59px;
//     top: 0%;
//     background-color: red;
//     border-radius: 0px 15px 15px 0px;
//     width: 59px;
//     height: 75px;
//     transition: right 0.3s ease;

// }

// .view article input[type="checkbox"]:checked+label .progress {
//     transform: translateX(-59px);
//     animation-name: swipe;
// }

// @keyframes swipe {

//     0% {
//         transform: translateX(-59px)
//     }

//     100% {
//         transform: translateX(1);



// #main-resto article{
//     position: relative;
//     width: 349px; /* Largeur de l'encart */
  
      
//       .checkbox {
//         position: absolute;
//         left: -9999px; /* Masque la case à cocher */
//       }
      

//       .progress {
//         position: absolute;
//         right: -59px;
//         top: 0;
//         background-color: rgba(153, 226, 208, 1);
//         border-radius: 0px 15px 15px 0px;
//         width: 59px;
//         height: 69px; /* Ajustez la hauteur pour correspondre à l'encart */
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         z-index: 1;
//         transition: right 0.3s ease;
//         cursor: pointer;
  
//         &::before , &::after{
//           content: '';
//           position: absolute;
//           width: 0;
//           height: 0;
//           border-style: solid;
//           border-width: 34.5px 0 34.5px 34.5px;
//           border-color: transparent transparent transparent rgba(153, 226, 208, 1);
        
//         }
  
//       }

//       .label {
//         cursor: pointer;
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         z-index: 2;
//       }
      
//       .checkbox:checked + .label + .progress {
//         right: 0;

//         animation: swipe 0.3s ease;
//       }

//       @keyframes swipe {
//         from {
//             transform: translate(-59px);
//         }

//         to {
//             transform: translate(0);
//         }
//     }

// }

.view article {
    position: relative;
    width: 349px;
}

.checkbox {
    position: absolute;
    left: -9999px;
}
.progress {
    position: absolute;
    right: -59px;
    top: 0;
    background-color: rgba(153, 226, 208, 1);
    border-radius: 0px 15px 15px 0px;
    width: 59px;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: right 0.3s ease;
    cursor: pointer;

 .progress::before, .progress::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34.5px 0 34.5px 34.5px;
    border-color: transparent transparent transparent rgba(153, 226, 208, 1);
}
}

.label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.checkbox:checked + .label + .progress {
    right: 0;
    animation: swipe 0.3s ease;
}

@keyframes swipe {
    from {
        transform: translateX(-59px);
    }
    to {
        transform: translateX(0);
    }
}