.loader-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $color-backgrounds;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: loader 0.5s 2s forwards;
}

@keyframes loader {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        display: none;
    }
}

.lettre {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 8px;
    color: #9356DC;
    animation: letter 2s infinite;

}


@keyframes letter {
    from {
        color: #9356DC;
        transform: translate(0px);
    }

    to {
        color: #FF79DA;
        transform: translateY(-30px);

    }
}

.loader-container .lettre:nth-child(1) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 0.2s;
}

.loader-container .lettre:nth-child(2) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 0.4s;
}

.loader-container .lettre:nth-child(3) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 0.6s;
}

.loader-container .lettre:nth-child(4) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 0.8s;
}

.loader-container .lettre:nth-child(5) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 1.0s;
}

.loader-container .lettre:nth-child(6) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 1.2s;
}

.loader-container .lettre:nth-child(7) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 1.4s;
}

.loader-container .lettre:nth-child(8) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 1.6s;
}

.loader-container .lettre:nth-child(9) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 1.8s;
}

.loader-container .lettre:nth-child(10) {
    animation: loader 2s infinite;
    animation-direction: alternate;
    animation-delay: 2s;
}



/************ page restaurant chargement ****************/

@keyframes progress-page {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#main-resto .view:nth-child(1) {
    animation: progress-page 1s linear;
    animation-delay: 0.4s;
}

#main-resto .view:nth-child(2) {
    animation: progress-page 1s linear;
    animation-delay: 0.6s;
}

#main-resto .view:nth-child(3) {
    animation: progress-page 1s linear;
    animation-delay: 0.8s;
}


/*********** coeur ****************/

.heart input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    opacity: 0;
}



.heart .fa-solid {
    font-weight: 200;
    font-size: 23px;
    color: #7e7e7e;
    padding: 0px 17px 0px 37px;

    &:active {
        font-weight: 900;
        background-clip: text;
        background-image: linear-gradient(#9356DC, #FF79DA);
        color: transparent;
    }
}

@keyframes fillheart {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.heart input[type="checkbox"]:checked+label .fa-heart {

    font-weight: 900;
    background-clip: text;
    background-image: linear-gradient(#9356DC, #FF79DA);
    color: transparent;
    animation: fillheart 1s ease;
}


/******************** Ajout plats commande **************/


#main-resto article {
    position: relative;
   overflow: hidden;

   .checkbox {
    display: none;
   }
   .label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

}

/*  */

.progress {
    position: absolute;
    right: 0;
    top: 0;
    background-color: $color-new;
    border-radius: 0px 15px 15px 0px;
    width: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: width 0.3s ease;
    font-size: 20px;

    i { 
        color: $color-new;
        border: $color-white 3px;
        border-radius: 50%;
        padding: 5px;
        margin: 16px;
        background-color: $color-white;
        font-size: 16px;
    }
}

.prix-resto{
    z-index: 2;
    transition: transform 0.3s ease;
    height: 100%;
}

.checkbox:checked~.progress{
    width:59px;
}

.checkbox:checked~.para-menu .prix-resto{
    transform: translateX(-59px);


    /* Ajout fond blanc derrière le prix */
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 60px;
        height: 72px;
        background: rgba(255, 255, 255, 0.851);
        z-index: -1;
    }
 }


