
/* mise en place generale de l'html */

html,
body {
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    color: $color-txt;
    background-color: #F6F6F6;
}

/* position et apparence du logo*/

#logo {
    @extend %flex;
    height: 63px;
    background-color: $color-white;
    margin: 0%;

    box-shadow:0px 2px 4px rgba(0,0,0,0.15);
}

/* posiotn et apparence du sous logo*/

.end-header {
    @extend %flex;
    background: $color-grey ;
    color: $color-darkgrey;
    height: 50px;

    i{
        color: $color-darkgrey;
        padding: 0px 17px 0px 0px ;
    }
}

/* mise en place de l'intro */

#intro {
    @extend %flex;
    flex-direction: column;
    height: auto;
    gap: 15px;
    padding: 50px 50px;
    background-color: $color-backgrounds;
}

/* mise en place de la partie 'fonctionnement' */

#fonctionnement {
    @extend %flex;
    flex-direction: column;
    background: $color-white;
    padding: 50px 0px;

    nav{
        width: 75%
    }
}

/* mise en place de la partie restaurant */

#restaurants {
    @extend %flex;
    flex-direction: column;
    padding: 50px 0px;
    background-color: $color-backgrounds;

    @media screen and (min-width:1024px) {
        padding: 50px 0px 90px;
    }
}

img {
    object-fit: cover;
}
