$color-btn: linear-gradient (rgb #9356DC, #FF79DA);
$color-txt: #000000;
$color-new: #99E2D0;
$color-ellipse: #9356DC;
$color-backgrounds: #ffffff;
$font-stack: 'Roboto', sans-sherif;

%flex {
    display: flex;
justify-content: center;
align-items: center;
}

body{
    width: 100%;
    margin: 0%;
font-family: $font-stack;
color: $color-txt;
background-color: #F6F6F6;
}

.logo{
    @extend %flex;
    height: 63px;
background-color: $color-backgrounds;
margin: 0%;
border-bottom: 2px solid #F6F6F6;
box-shadow: 0px 5px 15px rgba(0,0,0,0.15);

}

.end-header{
    @extend %flex;
    background: #eaeaea;
    gap: 17px;
    color: #353535;
    font-weight: 500;
}

#intro {
    @extend %flex;
    flex-direction: column;
    height: auto;
    gap: 30px;
    padding: 42px;
    
}

#fonctionnement{
    @extend %flex;
    flex-direction: column;
    background: $color-backgrounds;

}

#restaurants{
    @extend %flex;
    flex-direction: column;
}

