.card .card-content, li.card-fonction, #fonctionnement ul p, #intro .text,
.text__resto, #restaurants, #fonctionnement, #intro, .end-header, #logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text__h2 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  size: 24px;
  color: black;
}

#main-resto h3, .text_fonction {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  size: 16px;
  color: black;
}

h3 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  size: 18px;
  color: black;
}

#main-resto h2 {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  size: 16px;
  color: black;
}

.text__prix {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  size: 15.04px;
  color: black;
}

.loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #F6F6F6;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 0.5s 2s forwards;
}

@keyframes loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
.lettre {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 8px;
  color: #9356DC;
  animation: letter 2s infinite;
}

@keyframes letter {
  from {
    color: #9356DC;
    transform: translate(0px);
  }
  to {
    color: #FF79DA;
    transform: translateY(-30px);
  }
}
.loader-container .lettre:nth-child(1) {
  animation: loader 2s infinite;
  animation-direction: alternate;
  animation-delay: 0.2s;
}

.loader-container .lettre:nth-child(2) {
  animation: loader 2s infinite;
  animation-direction: alternate;
  animation-delay: 0.4s;
}

.loader-container .lettre:nth-child(3) {
  animation: loader 2s infinite;
  animation-direction: alternate;
  animation-delay: 0.6s;
}

.loader-container .lettre:nth-child(4) {
  animation: loader 2s infinite;
  animation-direction: alternate;
  animation-delay: 0.8s;
}

.loader-container .lettre:nth-child(5) {
  animation: loader 2s infinite;
  animation-direction: alternate;
  animation-delay: 1s;
}

.loader-container .lettre:nth-child(6) {
  animation: loader 2s infinite;
  animation-direction: alternate;
  animation-delay: 1.2s;
}

.loader-container .lettre:nth-child(7) {
  animation: loader 2s infinite;
  animation-direction: alternate;
  animation-delay: 1.4s;
}

.loader-container .lettre:nth-child(8) {
  animation: loader 2s infinite;
  animation-direction: alternate;
  animation-delay: 1.6s;
}

.loader-container .lettre:nth-child(9) {
  animation: loader 2s infinite;
  animation-direction: alternate;
  animation-delay: 1.8s;
}

.loader-container .lettre:nth-child(10) {
  animation: loader 2s infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}

/************ page restaurant chargement ****************/
@keyframes progress-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#main-resto .view:nth-child(2) {
  animation: progress-page 0s linear;
  animation-delay: 0.2s;
}

#main-resto .view:nth-child(3) {
  animation: progress-page 0s linear;
  animation-delay: 0.4s;
}

#main-resto .view:nth-child(4) {
  animation: progress-page 0s linear;
  animation-delay: 0.6s;
}

/*********** coeur ****************/
.heart input[type=checkbox] {
  position: relative;
  width: 16px;
  height: 16px;
  opacity: 0;
}

.heart .fa-solid {
  font-weight: 200;
}
.heart .fa-solid:active {
  font-weight: 900;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
}

.heart input[type=checkbox]:checked + label .fa-heart {
  font-weight: 900;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
  color: transparent;
}

/******************** Ajout plats commande **************/
.view article {
  position: relative;
  overflow: hidden;
}

.progress {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -59px;
  top: 0%;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  width: 59px;
  height: 75px;
  transition: right 0.3s ease;
}

.progress i {
  border-radius: 50%;
  padding: 5px;
  background-color: #F6F6F6;
  color: #99E2D0;
}

.view article .text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.view article .text__prix {
  transition: transform 0.3s ease;
}

.view article:hover .progress {
  right: 0;
  display: flex;
}

.view article:hover .text__prix {
  transform: translateX(-59px);
}

.view article:hover .text {
  text-overflow: unset;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-sherif;
  color: #000000;
  background-color: #F6F6F6;
}

#logo {
  height: 63px;
  background-color: #ffffff;
  margin: 0%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.end-header {
  background: #eaeaea;
  color: #000000;
  height: 50px;
  padding-right: 10%;
}
.end-header i {
  color: #000000;
}

#intro {
  flex-direction: column;
  height: auto;
  gap: 15px;
  padding: 0px 50px 0px 50px;
  margin: 50px 0px;
}

#fonctionnement {
  flex-direction: column;
  background: #ffffff;
  padding: 50px 0px;
}

#restaurants {
  flex-direction: column;
  margin: 50px 0px;
}

.text {
  margin: 0%;
  width: auto;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.text__h2 {
  width: 80%;
  margin: 0px 30px 0px 0px;
  padding-bottom: 15px;
}

#intro .text,
.text__resto {
  padding: 0%;
  text-align: center;
}

.text__p {
  color: #353535;
  font-size: 18px;
  line-height: 21.09px;
  font-weight: 300;
}

.card-fonction p {
  color: #F6F6F6;
  font-weight: 500;
  font-size: 14.8px;
}

.text__btn {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

footer .liens {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
footer .liens div {
  display: flex;
}
footer .liens i {
  margin: 0px 16px 0px 0px;
}
footer .liens .text {
  color: #ffffff;
}

@media screen and (min-width: 1024px) {
  #main-resto h2 {
    margin-left: 180px;
  }
}

@media screen and (min-width: 1024px) {
  #fonctionnement h2 {
    margin-left: 180px;
  }
}

.card .card-content, li.card-fonction, #fonctionnement ul p, #logo, .end-header, #intro, #fonctionnement, #restaurants, #intro .text,
.text__resto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__intro {
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  width: 75%;
  height: 50px;
}
.btn__intro:hover {
  background: lighten #9356DC, #FF79DA, 5;
  opacity: 0.75;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  transition: opacity 250ms;
}

.btn__resto {
  margin: 40px 94.5px 10px;
  width: 45%;
}

ul {
  padding: 0%;
  margin: 26px 20px 0px 20px;
}

#fonctionnement ul p {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  left: -10px;
}

i {
  size: 16px;
  color: #7e7e7e;
  margin: 0px 16px;
}

li.card-fonction {
  margin-bottom: 24.92px;
  list-style: none;
  position: relative;
  width: 335px;
  height: 72.38px;
  background: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 0px 37px 0px 0px;
}
li.card-fonction div {
  font-size: 16px;
  margin: 0;
}
li.card-fonction p {
  padding: 0;
  margin: 0;
}
li.card-fonction .fa-xs {
  padding-left: 8px;
  font-size: 16px;
}

#resto-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  #resto-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 251px;
  border-radius: 15px;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 100%;
    margin-bottom: -50px;
  }
}
.card img {
  width: 346px;
  height: 164px;
  border-radius: 15px 15px 0px 0px;
}
@media screen and (min-width: 1024px) {
  .card img {
    width: 490px;
  }
}
.card .card-content {
  justify-content: space-between;
  height: 87px;
  background-color: #ffffff;
  border-radius: 15px;
}
.card .txt-card {
  margin: 15px 8px;
}
.card i {
  font-size: x-large;
  border: 1px;
  margin: 15px 15px 30px;
}

@media screen and (min-width: 1024px) {
  #fonctionnement ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}
footer {
  background-color: #353535;
  color: #ffffff;
  height: 200px;
}
@media screen and (min-width: 1024px) {
  footer {
    margin-top: 90px;
  }
}
footer .liens {
  gap: 7px;
  margin-left: 20px;
}
footer .liens-footer {
  display: flex;
}
footer img {
  width: 139px;
  filter: brightness(0) invert(1) hue-rotate(180deg) grayscale(100%);
  padding: 22px 25px;
}
footer i {
  padding: 2px;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0%;
  background-color: #ffffff;
}

#header-logo {
  height: 63px;
  display: flex;
  align-items: center;
  gap: 41px;
  margin-left: 17px;
}
@media screen and (min-width: 1024px) {
  #header-logo {
    margin: 0px 619px;
  }
}

.fa-arrow-left {
  color: black;
}

.bar {
  border-top: 3px solid #99E2D0;
  width: 40px;
  margin-left: 13px;
  margin-bottom: 12px;
}

#resto-img-delice {
  background-image: url(../Images\ et\ textes\ Ohmyfood/#resto-img-delice);
  background-size: cover;
  background-position: center;
  height: 275px;
  width: 100%;
}

#main-resto {
  position: relative;
  background-color: #F6F6F6;
  margin-top: -30px;
  border-radius: 40px 40px 0px 0px;
  padding: 30px 12px;
}
@media screen and (min-width: 1024px) {
  #main-resto {
    margin: -30px 193px;
  }
}
#main-resto article {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 13.5px 15px;
  gap: 5px;
  margin-bottom: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
#main-resto article div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#main-resto h2 {
  margin-left: 13px;
}

#title-resto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "shrikhand", sans-serif;
  margin: 0px 0px 40px 17px;
}

#end-card {
  margin-bottom: 0;
}

@keyframes progress-page {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#main-resto .view:nth-child(2) {
  animation: progress-page 1.2s linear;
  animation-delay: 0.2s;
}

#main-resto .view:nth-child(3) {
  animation: progress-page 1.2s linear;
  animation-delay: 0.4s;
}

#main-resto .view:nth-child(4) {
  animation: progress-page 1.2s linear;
  animation-delay: 0.6s;
}/*# sourceMappingURL=style.css.map */